
.logo {
  width:200px;
  height:150px;
  
}
header{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(13, 168, 240);
  margin-bottom: 20px;
}
nav{
   margin: 20px 0px;
   padding: 20px 0px;
   text-align: center;
   background-color: rgb(7, 85, 201); 
   border-radius: 10px;
   margin-inline: 20px;
}
.contacts {
   color: black;
   background-color: rgb(136, 255, 0);
   border-radius:  10px ;
   padding: 10px 25px;
  font-size: 20px;
  text-decoration: none;
  order: 1px solid white;
  margin: 10px;
}
   

main img{
  width:500px;
  height:350px
}
footer p {
    background-color: rgb(0, 255, 13);
    padding: 10px;
    font-size: 20px;

}
p {
font-size: 20px


} 
main{
  background-color: rgb(89, 211, 8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}
h2{
  text-align:center;
  font-size: 50px
}
footer{
  background-color: rgb(17, 0, 250);
  padding: 20px;
  border-radius: 10px;
}
html{
  scroll-behavior: smooth;
  font-family: "Roboto" , sans-serif;
}

body{
  margin: 0;
}

.slogan {
    display: flex;
    padding: 30px;
    color: rgb(0, 0, 0);
    
}

.slogan_text {
    float:left;
    color: rgb(0, 0, 0);
    margin: 20px;
}

